#card {
  background-color: #282828;
  margin: 1rem auto;
  border-collapse: separate; 
  border-radius: 8px !important;
  padding: 20px;
  width: 95%;
}

#home {
  display: grid;
  grid-template-columns: 2fr 5fr;
}

#header {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 30px;
}

.center-vertically {
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  min-height: 450px;
}

.grey-border {
  width: 100%;
  margin: 10px 0;
  padding: 10px 10px;
  border: 1px solid #CCCCCC;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}

.link {
  display: inline-flex !important;
  flex-direction: row !important;
}

.container {
  display: grid;
  grid-template-columns: 2fr 5fr;
}

.correct-padding {
  padding: 20px;
  margin: 20px;
  max-height: 800px;
}

.fullwidth {
  width: 100%;
}

.my-modal {
  background-color: rgb(40, 40, 40);
  width: 600px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 5px
}
.modal-container {
  background-color: rgba(0, 0, 0, 0.3) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.write-area {
  margin: 0px 0px 20px 0px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}

.purple-btn {
  background-color: rgb(255, 2, 103) !important; 
  color: white !important;
  font-weight: bold !important
}

.custom-grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  padding: 5px;
}

.grid-item {
  border: 1px solid gray;
  text-align: center;
}

.class-on-grid {
  background-color: rgba(255, 0, 128, 0.6);
  text-align: center;
}

